services:
  - type: web
    name: goldenprice-backend-hybrid
    env: node
    buildCommand: "npm install"
    startCommand: "node server.js"
    plan: free
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: TWELVEDATA_KEY
        sync: false
      - key: ALPHAVANTAGE_KEY
        sync: false
      - key: GOLDPRICEZ_KEY
        sync: false
